@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
input {
    font-family: "Inter", sans-serif;
}
body,
button,
a {
    color: $black;
    font-weight: 300;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.5em;
}
.logo h1 {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
}
.title {
    color: lighten($very-light-gray, 50%);
    h3 {
        font-size: 1.5em;
        letter-spacing: 2px;
        font-weight: normal;
        text-transform: uppercase;
    }
    p {
        font-size: 0.9em;
    }
}
label {
    color: $gray;
    font-size: 1.2em;
}
footer,
footer a {
    color: $very-light-gray;
}
footer {
    font-size: 0.8em;
    i {
        font-size: 2em;
    }
}
.search-results-for {
    color: $gray;
    font-size: 0.75em;
}
.details {
    h1 {
        font-size: 2em;
        letter-spacing: 2px;
        font-weight: normal;
        text-transform: uppercase;
        // margin: 3px 0;
    }
    h2 {
        font-size: 1.2em;
        letter-spacing: 2px;
        font-weight: normal;
        text-transform: uppercase;
        // margin: 3px 0;
    }
    h3 {
        font-size: 1em;
        white-space: break-spaces;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .italisize {
        font-size: 0.8em;
        font-style: italic;
        // margin: 3px 0 0;
    }
}

.meta-details {
    .bold {
        font-weight: 600;
    }
}
